# (*) You won't need to input any {curly brackets} which you see below.
#     Those are there only to distinguish inputs inside brackets from other words.

# This is an example to get AH data from Blizzard data API.
# If you want to get AH data from other region, server, AH, refer to this link below and change variables.
# https://{(1) region }.api.blizzard.com/data/wow/connected-realm/{(2) server }/auctions/{(3) AH variable }?namespace=dynamic-{(4) WoW version }&locale={(5) region_REGION }
# In case of TBC, KOREA, Lokholar, HORDE AH :
# https://kr.api.blizzard.com/data/wow/connected-realm/4419/auctions/6?namespace=dynamic-classic-kr&locale=kr_KR
# ===============================================================================================


# Client ID : {YOUR OWN ID}		
# Client Secret : {YOUR OWN SECRET}
# (**) Get ID and Secret at {https://develop.battle.net/access/clients} in advance if you want to use these python modules as they are.

# How to get access token
curl -u {Client ID}:{Client Secret} -d grant_type=client_credentials https://kr.battle.net/oauth/token
# Expected response: {"access_token":"{YOU OWN ACCESS TOKEN}","token_type":"bearer","expires_in":86399,"sub":"{YOU OWN SUB}"}
 
# CURL request
curl -o AHoutput.txt --header "Authorization: Bearer {YOUR OWN ACCESS TOKEN}" https://kr.api.blizzard.com/data/wow/connected-realm/4419/auctions/6?namespace=dynamic-classic-kr&locale=kr_KR
